#main6{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    height: 300px;
    width: 20%;
    float: left;
    box-shadow: 9px 9px 9px 5px lightgrey;  
    background-color: whitesmoke;
  
}
.box2{
    height: 300px;
    width: 20%;
    float: left;
    box-shadow: 9px 9px 9px 5px lightgrey;  
    background-color: whitesmoke;
}
.box3{
    height: 300px;
    width: 20%;
    float: left;
    box-shadow: 9px 9px 9px 5px lightgrey;  
    background-color: whitesmoke;
}
.box4{
    height: 300px;
    width: 20%;
    float: left;
    box-shadow: 9px 9px 9px 5px lightgrey;  
    background-color: whitesmoke;
}

box1:hover{
    background-color: #FEA116;
    color: white;
}
.box2:hover{
    background-color: #FEA116;
    color: white;
}
.box3:hover{
    background-color: #FEA116;
    color: white;
}
.box4:hover{
    background-color: #FEA116;
    color: white;
}

img{
    height: 60px;
    width: 60px;
}

#row1{
    height: 45%;
    width: 100%;
    /* background-color: aqua; */
}
#ico{
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-left: 5px;
}
#row2{
    height: 55%;
    width: 100%;
}


.box1:hover{
    scale: 1.1;
}
.box2:hover{
    scale: 1.1;
}
.box3:hover{
    scale: 1.1;
}
.box4:hover{
    scale: 1.1;
}