#main9 {
    height: 600px;
    width: 100%;
    
  }
  
  
  #rw2 {
    height: 150px;
    width: 100%;
    
  }
  #rw1 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #box5 {
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 12px 12px 5px lightgray;
    border: 3px solid lightgray;
  }
  
  #imt1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  #box5:hover {
    height: 350px;
  }
  
  /* Initially hide the social icons */
  .social-icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  /* Show social icons on hover */
  #box5:hover .social-icons {
    opacity: 1;
  }
  
  .social-icons svg {
    font-size: 24px;
   
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* .social-icons svg:hover {
    background-color: #ff6b6b;
  } */
  